main#home .name-container {
    height: 60vh;
    background-color: #be1522;
    color: white;
    background-image: url("../images/keyboard_cofee.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
main#home h1 {
    font-size: 6rem;
    margin: 2rem 0;
    font-weight: bold;
}
main#home h2 {
    font-size: 3rem;
}
.red {
    color: #be1522;
}
main#home .cat-container {
    height: 40vh;
    background-color: white;
}
main#home .cat-container.row {
    margin: 0;
}
main#home .col.d-flex.justify-content-center.align-items-center {
    transition: .3s ease-in-out;
    color: white;
    background-color: black;
    text-transform: uppercase;
}
main#home .col.d-flex.justify-content-center.align-items-center:hover {
    background-color: black;
    color: white;
    opacity: .8;
}

section#category header,
section#post header{
    height: 100%;
    background-color: black;
    color: white;
}
section#category header .row.justify-content-center.align-items-center,
section#post header .row.justify-content-center.align-items-center,
div.container {
    height: 15rem;
}
.breadcrumb {
    margin: 0;
    border-radius: 0;
    background-color: #f5f5f5;
}
.card-img-top {
    height: 200px;
}
article.col-12.col-md-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
a {
    color: black;
    transition: .3s;
}
a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
img {
    max-width: 100%;
}
.title {
    margin-bottom: 1.5rem;
}

#login-form {
    padding: 12rem 6rem;
}
#login-form > a {
    display: block;
    margin-top: 25px;
    color: #007bff;
}
section#post .card {
    margin: 1rem 0;
}
div#comments, div#login-form {
    height: 100%;
}

footer {
    height: 2.5rem;
    background-color: #be1522;
    color: white;
}
img.img {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}