{% extends 'base.html.twig' %}

{% block body %}
<main id="home">
    <section class="name-container d-flex justify-content-center
     align-items-center flex-column">
        <header class="text-center">
            <h1>Arnaud Lafon</h1>
            <h2>Développeur web</h2>
        </header>
    </section>

    <section class="container section">
        <header>
            <h2 class="title red">Qui je suis</h2>
        </header>

        <article>
            <p>
                In volutpat vehicula purus, vel scelerisque lorem tincidunt et. Nullam pulvinar eros finibus, posuere ante vel, aliquam magna. Mauris facilisis risus non imperdiet accumsan. Curabitur erat tellus, scelerisque in lacinia ac, pulvinar vulputate lorem. Sed erat elit, scelerisque a posuere nec, tempus a nibh. Phasellus enim dolor, pulvinar nec suscipit id, faucibus sed velit. Maecenas augue ante, elementum ut eleifend et, lacinia sed nisi.
            </p>
            <p>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ut magna porta, porttitor nulla sit amet, vestibulum tellus. Sed egestas consequat nibh. In neque felis, porttitor sit amet iaculis eu, facilisis eu purus. Integer accumsan hendrerit purus, at dictum enim pretium nec. Vestibulum nunc sapien, lacinia sit amet ornare ac, elementum nec ligula. In sed tincidunt lorem. Donec non iaculis mauris.
            </p>
        </article>
    </section>

    <section class="container section">
        <header>
            <h2 class="title red">Mes compétences</h2>
        </header>

        <article class="row">
            <div class="col">
                <ul><h3>Front-end</h3>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>
            <div class="col">
                <ul><h3>Back-end</h3>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>
            <div class="col">
                <ul><h3>Autres</h3>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>
        </article>
    </section>

    <section class="container section">
        <header>
            <h2 class="title red">Mes expériences</h2>
        </header>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vivamus eget imperdiet mauris.</h6>
                <p class="card-text">
                    Morbi vitae nunc mattis, consectetur ex quis, elementum libero. Aenean tortor purus, porttitor id accumsan vel,
                    tincidunt in massa. Nam pretium leo at neque dapibus, elementum tempus nunc iaculis. Praesent non turpis pellentesque,
                    iaculis felis sit amet, aliquam metus. Integer pharetra ante nec nibh rhoncus gravida.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vivamus eget imperdiet mauris.</h6>
                <p class="card-text">
                    Morbi vitae nunc mattis, consectetur ex quis, elementum libero. Aenean tortor purus, porttitor id accumsan vel,
                    tincidunt in massa. Nam pretium leo at neque dapibus, elementum tempus nunc iaculis. Praesent non turpis pellentesque,
                    iaculis felis sit amet, aliquam metus. Integer pharetra ante nec nibh rhoncus gravida.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vivamus eget imperdiet mauris.</h6>
                <p class="card-text">
                    Morbi vitae nunc mattis, consectetur ex quis, elementum libero. Aenean tortor purus, porttitor id accumsan vel,
                    tincidunt in massa. Nam pretium leo at neque dapibus, elementum tempus nunc iaculis. Praesent non turpis pellentesque,
                    iaculis felis sit amet, aliquam metus. Integer pharetra ante nec nibh rhoncus gravida.
                </p>
            </div>
        </div>
    </section>

    <section class="container section">
        <header>
            <h2 class="title red">Mes formations</h2>
        </header>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vivamus eget imperdiet mauris.</h6>
                <p class="card-text">
                    Morbi vitae nunc mattis, consectetur ex quis, elementum libero. Aenean tortor purus, porttitor id accumsan vel,
                    tincidunt in massa. Nam pretium leo at neque dapibus, elementum tempus nunc iaculis. Praesent non turpis pellentesque,
                    iaculis felis sit amet, aliquam metus. Integer pharetra ante nec nibh rhoncus gravida.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vivamus eget imperdiet mauris.</h6>
                <p class="card-text">
                    Morbi vitae nunc mattis, consectetur ex quis, elementum libero. Aenean tortor purus, porttitor id accumsan vel,
                    tincidunt in massa. Nam pretium leo at neque dapibus, elementum tempus nunc iaculis. Praesent non turpis pellentesque,
                    iaculis felis sit amet, aliquam metus. Integer pharetra ante nec nibh rhoncus gravida.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <h6 class="card-subtitle mb-2 text-muted">Vivamus eget imperdiet mauris.</h6>
                <p class="card-text">
                    Morbi vitae nunc mattis, consectetur ex quis, elementum libero. Aenean tortor purus, porttitor id accumsan vel,
                    tincidunt in massa. Nam pretium leo at neque dapibus, elementum tempus nunc iaculis. Praesent non turpis pellentesque,
                    iaculis felis sit amet, aliquam metus. Integer pharetra ante nec nibh rhoncus gravida.
                </p>
            </div>
        </div>
    </section>

    <div class="cat-container row">
        {% for category in categories %}
            <a href="{{ path('category_show', {'category_id': category.id}) }}"
               class="col d-flex justify-content-center
                    align-items-center">
                <h3>
                    {{ category.name }}
                </h3>
            </a>
        {% endfor %}
    </div>
</main>
{% endblock %}
